<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2><%= githubHandle %></h2>
        <hr class="star-primary">
    </div> 
  </div>
  <div class="row">
    <ul class="nav nav-tabs col-lg-12" role="tablist">
      <li class="active settings"><a href="#">Settings</a></li>
      <li class="recentStats"><a href="#">Recent Stats</a></li>
      <li class="lifetimeStats"><a href="#">Lifetime Stats</a></li>
      <li class="averageStats"><a href="#">Average Stats</a></li>
    </ul>
  </div>
    <table class="table table-bordered table-responsive lifetime-table">
      <tr class="lifetime-table-header">
        <td>Category</td>
        <td>Stats</td>
      </tr>
      <tr>
        <td>Games Played</td> 
        <td><%= gamesPlayed %></td>
      </tr>
      <tr>
        <td>Kills</td> 
        <td><%= kills %></td>
      </tr>
      <tr>
        <td>Deaths</td> 
        <td><%= deaths %></td>
      </tr>
      <tr>
        <td>Damage Dealt</td>
        <td><%= damageDealt %></td>
      </tr>
      <tr>
        <td>Mines Captured</td> 
        <td><%= minesCaptured %></td>
      </tr>
      <tr>
        <td>Diamonds Earned</td>
        <td><%= diamondsEarned %></td>
      </tr>
        <td>Health Recovered</td>
        <td><%= healthRecovered %></td>
      </tr>
      <tr>
        <td>Graves Robbed</td>
        <td><%= gravesRobbed %></td>
      </tr>
    </table>
    </div>
  </div>  
    <div class="text-center">
      <button type="button" class="btn btn-default btn-lg logoutButton">
        <a class="glyphicon glyphicon-log-out" href="/logout">Log-out</a> 
      </button>
    </div>
</div>