  <div class="centered">
    <br>
    <table class="table table-striped table-bordered table-responsive scaling-table center-column-2">
      <tr class="scaling-headers">
        <th>Category</th>
        <th>Average (<%= gamesPlayed %> games)</th>
      </tr>
      <tr>
        <td>Kills</td>
        <td><%= kills %></td>
      </tr>
      <tr>
        <td>K/D Ratio</td>
        <td><%= kdRatio %></td>
      </tr>
      <tr>
        <td>Damage Dealt</td>
        <td><%= damageGiven %></td>
      </tr>
      <tr>
        <td>Mines Captured</td>
        <td><%= minesTaken %></td>
      </tr>
      <tr>
        <td>Diamonds Earned</td>
        <td><%= diamondsEarned %></td>
      </tr>
        <td>Health Recovered</td>
        <td><%= healthRecovered %></td>
      <tr>
        <td>Souls Absorbed</td>
        <td><%= gravesTaken %></td>
      </tr>
    </table>
  </div>
  <div class="text-center">
    <a href="/logout" type="button" class="btn btn-default logoutButton">
      <i class="glyphicon glyphicon-log-out">&nbsp;</i>Log out
    </a>
  </div>