  <div class="centered">
    <br>
    <table class="table table-striped table-bordered table-responsive scaling-table center-column-2">
      <tr class="scaling-headers">
        <th>Category</th>
        <th>Total</th>
      </tr>
      <tr>
        <td>Kills</td>
        <td><%= kills %></td>
      </tr>
      <tr>
        <td>Deaths</td>
        <td><%= deaths %></td>
      </tr>
      <tr>
        <td>Damage Dealt</td>
        <td><%= damage_given %></td>
      </tr>
      <tr>
        <td>Mines Captured</td>
        <td><%= mines_taken %></td>
      </tr>
      <tr>
        <td>Diamonds Earned</td>
        <td><%= diamonds_earned %></td>
      </tr>
      <tr>
        <td>Health Recovered</td>
        <td><%= health_recovered %></td>
      </tr>
      <tr>
        <td>Graves Robbed</td>
        <td><%= graves_taken %></td>
      </tr>
      <tr>
        <td>Wins</td>
        <td><%= games_won %></td>
      </tr>
      <tr>
        <td>Losses</td>
        <td><%= games_lost %></td>
      </tr>
    </table>
  </div>
  <div class="text-center">
    <a href="/logout" type="button" class="btn btn-default logoutButton">
      <i class="glyphicon glyphicon-log-out">&nbsp;</i>Log out
    </a>
  </div>