<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2><%= get('github_login') %></h2>
        <hr class="star-primary">
    </div>
  </div>
  <div class="row nav-buttons">
    <div class="btn-group btn-group-justified">
      <div class="general btn-group settings">
        <button type="button" class="btn btn-default">Settings</button>
      </div>
      <div class="active btn-group recentStats">
        <button type="button" class="btn btn-default">Recent Stats</button>
      </div>
      <div class="btn-group lifetimeStats">
        <button type="button" class="btn btn-default active">Lifetime Stats</button>
      </div>
      <div class="btn-group averageStats">
        <button type="button" class="btn btn-default">Average Stats</button>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped table-bordered table-responsive lifetime-table">
      <tr class="lifetime-table-header">
        <td>Category</td>
        <td>Total</td>
      </tr>
      <tr>
        <td>Kills</td>
        <td><%= get('lifetime_stats').kills %></td>
      </tr>
      <tr>
        <td>Deaths</td>
        <td><%= get('lifetime_stats').deaths %></td>
      </tr>
      <tr>
        <td>Damage Dealt</td>
        <td><%= get('lifetime_stats').damage_given %></td>
      </tr>
      <tr>
        <td>Mines Captured</td>
        <td><%= get('lifetime_stats').mines_taken %></td>
      </tr>
      <tr>
        <td>Diamonds Earned</td>
        <td><%= get('lifetime_stats').diamonds_earned %></td>
      </tr>
      <tr>
        <td>Health Recovered</td>
        <td><%= get('lifetime_stats').health_recovered %></td>
      </tr>
      <tr>
        <td>Graves Robbed</td>
        <td><%= get('lifetime_stats').graves_taken %></td>
      </tr>
      <tr>
        <td>Wins</td>
        <td><%= get('lifetime_stats').games_won %></td>
      </tr>
      <tr>
        <td>Losses</td>
        <td><%= get('lifetime_stats').games_lost %></td>
      </tr>
    </table>
  </div>
  <div class="text-center">
    <a href="/logout" type="button" class="btn btn-default logoutButton">
      <i class="glyphicon glyphicon-log-out">&nbsp;</i>Log out
    </a>
  </div>
</div>