<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2><%= get('githubHandle') %></h2>
        <hr class="star-primary">
    </div>
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="settings"><a href="#">Settings</a></li>
      <li class="recentStats"><a href="#">Recent Stats</a></li>
      <li class="lifetimeStats"><a href="#">Lifetime Stats</a></li>
      <li class="averageStats"><a href="#">Average Stats</a></li>
    </ul>
    <div>
    <table class="table table-bordered table-responsive lifetime-table">
      <tr class="lifetime-table-header">
        <td>Category</td>
        <td>Stats</td>
      </tr>
      <tr>
        <td>Game Result:</td> 
        <td><%= get('mostRecentStats').gameResult %></td>
      </tr>
      <tr>
        <td>Survived:</td> 
        <td><%= get('mostRecentStats').survived %></td>
      </tr>
      <tr>
        <td>Kills:</td>
        <td><%= get('mostRecentStats').kills %></td>
      </tr>
      <tr>
        <td>Damage dealt:</td> 
        <td><%= get('mostRecentStats').damageDealt %></td>
      </tr>
      <tr>
        <td>Mines captured:</td>
        <td><%= get('mostRecentStats').minesCaptured %></td>
      </tr>
        <td>Diamonds earned:</td>
        <td><%= get('mostRecentStats').diamondsEarned %></td>
      </tr>
      <tr>
        <td>Health recovered:</td>
        <td><%= get('mostRecentStats').healthRecovered %></td>
      </tr>
      <tr>
        <td>Graves robbed:</td>
        <td><%= get('mostRecentStats').gravesRobbed %></td>
      </tr>
    </table>
    </div>
  </div>  
</div>