  <div class="centered">
    <br>
    <table class="table table-striped table-bordered table-responsive scaling-table center-column-2">
      <tr class="scaling-headers">
        <th>Category</th>
        <th>Stats</th>
      </tr>
      <tr>
        <td>Team Result</td>
        <td><%= get('recent_stats').gameResult %></td>
      </tr>
      <tr>
        <td>Survived</td>
        <td><%
          var survived = (get('recent_stats').dead === false);
        %><%=
          (survived ? 'Yes' : 'No')
        %></td>
      </tr>
      <tr>
        <td>Kills</td>
        <td><%= get('recent_stats').kills %></td>
      </tr>
      <tr>
        <td>Damage dealt</td>
        <td><%= get('recent_stats').damageGiven %></td>
      </tr>
      <tr>
        <td>Mines captured</td>
        <td><%= get('recent_stats').minesTaken %></td>
      </tr>
        <td>Diamonds earned</td>
        <td><%= get('recent_stats').diamondsEarned %></td>
      <tr>
        <td>Health recovered</td>
        <td><%= get('recent_stats').healthRecovered %></td>
      </tr>
      <tr>
        <td>Graves robbed</td>
        <td><%= get('recent_stats').gravesTaken %></td>
      </tr>
    </table>
  </div>
  <div class="text-center">
    <a href="/logout" type="button" class="btn btn-default logoutButton">
      <i class="glyphicon glyphicon-log-out">&nbsp;</i>Log out
    </a>
  </div>